version: "3.5"
services:
  app:
    build: .
    environment:
      FPM_USER: ${FPM_USER}
      FPM_GROUP: ${FPM_GROUP}
    volumes:
      - .:/srv:rw
    env_file:
      - ./docker/env

  mysql:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: sprout3
      MYSQL_USER: sprout3
      MYSQL_PASSWORD: sprout3
    volumes:
      - db:/var/lib/mysql:rw

  nginx:
    image: nginx:alpine
    ports:
      - "8080:8080"
    volumes:
      - .:/srv:ro
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - nginx:/var/cache/nginx:rw

volumes:
  db:
  nginx:
